@tailwind base;
@tailwind components;
@tailwind utilities;

body .bg-block {
    background: #fff;
}

.wrapper {
    padding-top: 50px;
    margin: auto;
    width: 75%;
}

.category-wrapper,
.user-wrapper {
    padding-top: 100px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.product-page {
    padding-top: 100px;
    column-gap: 15px;
}

.product-page label {
    position: relative;
}

.product-page label::before {
    content: '';
    position: absolute;
    background: url(../img/cart-icon.svg);
    top: 50%;
    left: 55px;
    width: 24px;
    height: 24px;
    transform: translateY(-50%);
}

.product-page input[type="submit"] {
    padding: 10px 50px 10px 84px;
    color: #fff;
    background: #654321;
    border: unset;
    border-radius: 15px;
}

.product-page input[type="submit"]:hover {
    background: #7e6a54;
}

.product-page .price-block {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
}

.product-page .price-block .price {
    font-size: 30px;
}

.product-page .picture-block {
    width: 50%;
}

.product-page .picture-block img {
    margin: 0 auto;
    max-height: 70%;
}

body .profile-button {
    background: unset;
    color: #ebdecf;
}

body .profile-button:hover {
    filter: drop-shadow(0px 0px 3px #ebdecf);
    color: #efe5d9;
}

body .nav-profile div {
    background: #fff;
}

body .nav-profile div a {
    color: #000;
}

body .nav-profile div a:hover {
    background: #7e6a54;
}

.err {
    color: #f00;
}

input[type="submit"],
.subreviewsButton {
    appearance: none;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
    border-radius: 0px;
    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    transition: all 0.3s ease;
    --tw-shadow: 0 0 #0000;
}

.subreviewsButton {
    display: block;
    color: #000;
    width: 100%;
}

input[type="submit"]:hover,
.subreviewsButton:hover {
    color: #000; 
    border-color: #fff; 
    background: transparent;
    cursor: pointer;
}

body .nav-menu {
    background: #48302b;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.nav-links a {
    color: #ebdecf;
}

.nav-links a:hover {
    color: #efe5d9;
    border-color: transparent;
    filter: drop-shadow(0px 0px 3px #ebdecf);
}

.nav-links__adminButton {
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
}

.nav-menu .nav-links__active {
    color: #fff;
    border-color: #ebdecf;
}

.nav-menu .nav-links__active:hover {
    color: #efe5d9;
    border-color: unset;
    filter: drop-shadow(0px 0px 3px #ebdecf);
}

.sort-block,
.filter-block,
.search-block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 50px;
    padding: 15px;
    margin: auto;
    width: 60%;
}

.clear-filter__block {
    position: fixed;
    top: 152px;
    right: 125px;
    transition: all 0.3s ease;
}

.clear-filter__block-active {
    transform: translateY(-200px);
}

.clear-filter__block span {
    position: absolute;
    background: #000;
    width: 30px;
    height: 3px;
    border-radius: 1.5px;
    top: 50%;
    left: 6px;
    transition: all 0.3s ease;
    transform: translateY(-50%) rotate(45deg);
}

.clear-filter__block:hover span {
    background: #fff;
}

.clear-filter__block span:nth-child(2) {
    transform: translateY(-50%) rotate(-45deg);
}

.clear-filter__block input[type="submit"] {
    padding-left: 42px;
}

.filter-block label input[type="number"] {
    max-width: 100px;
}

.filter-block label select {
    max-width: 250px;
}

.filter-block label span {
    display: block;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
}

.filter-sort {
    padding-top: 137px;
}

.filter-sort .filters-button {
    fill: #fff;
    transition: all 0.3s ease;
}

.filter-sort__block {
    position: fixed;
    z-index: 0;
    width: 100%;
    top: 137px;
    left: 0;
    background: #654321;
    transition: all 0.3s ease;
}

.filter-sort .active {
    transform: translateY(-250px);
}

.filter-sort .filters-button .rect {
    transition: all 0.3s ease;
    opacity: 0;
}

.filter-sort .search-filter__block:hover {
    background: #84694d;
}

.filter-sort .search-filter__block:hover .filters-button {
    filter: drop-shadow(0px 0px 10px #fff);
    transform: scale(1.1);
}

.filter-sort .search-filter__block:hover .filters-button__active {
    filter: drop-shadow(0px 0px 10px #f00);
}

.filter-sort .filters-button__active .rect1 {
    transform: rotate(-45deg) translate(-22%, 22%);
    opacity: 1;
}

.filter-sort .filters-button__active .rect2 {
    transform: rotate(-45deg) translate(-51.5%, 22%);
    opacity: 1;
}

.filter-sort .filters-button__active .rect3 {
    transform: rotate(45deg) translate(-8%, -48%);
    opacity: 1;
}

.filter-sort .filters-button path {
    transition: all 0.3s ease;
}

.filter-sort .filters-button__active path:nth-child(1) {
    transform: rotate(-45deg) translate(-25%, 25%);
    opacity: 0;
}

.filter-sort .filters-button__active path:nth-child(2) {
    transform: rotate(-45deg) translate(-54.5%, 25%);
    opacity: 0;
}

.filter-sort .filters-button__active path:nth-child(3) {
    transform: rotate(45deg) translate(-5%, -45%);
    opacity: 0;
}

.search-filter__block {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 0 10px;
    border: 1px solid #fff;
    position: absolute;
    top: 0; 
    right: -150px;
}

.sort-block {
    border-bottom: 1px solid #ebdecf;
}

.search-block {
    background: #654321;
    border-bottom: 1px solid #ebdecf;
    position: fixed;
    width: 100%;
    top: 64px;
    left: 0;
    z-index: 1;
    justify-content: center;
    column-gap: unset;
}

.search {
    position: relative;
}

.search-block input[type="text"] {
    padding-left: 42px;
    min-width: 500px;
}

.search-block .search-icon {
    position: absolute;
    background: url(../img/search-icon.svg) no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 11px;
    transform: translateY(-50%);
}

.filter-sort a {
    display: block;
    padding: 12px 30px;
    border: 1px solid #9ca3af;
    color: #9ca3af;
    transition: all 0.3s ease;
}

.filter-sort a:hover {
    border: 1px solid #fff;
    color: #fff;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    color: #000;
    margin-bottom: 15px;
}

.table {
    width: 100%;
}

.orderTable input {
    width: 100%;
}

.orderTable td, 
.orderTable th {
    width: 14.3%;
}

.orderTable td:nth-child(1), 
.orderTable td:nth-child(2), 
.orderTable td:nth-child(3) { 
    padding-left: 10px;
}

.table .admin-order_submit {
    padding: unset;
    background: unset;
    border: unset;
}

.table .admin-order_submit:hover {
    cursor: pointer;
}

.table-input {
    width: 100%;
    padding: 10px;
    background: unset;
    border: unset;
}

.table-select {
    width: 100%;
    background: unset;
    padding: 10px;
}

.table .table-submit {
    width: 100%;
    border: unset;
    background: unset;
    padding: 11px;
}

.table .table-submit:hover {
    color: #000;
    background: #fff;
}

.table-select option {
    color: #000;
}

.table td, 
.table th {
    border: 1px solid #000;
}

p,
a,
.table td, 
.table th {
    color: #000;
}

header p {
    color: #fff;
}

.backButton {
    top: 76px;
    left: 10px;
    max-width: 200px;
    padding: 12px 50px;
    border: 1px solid #fff;
    color: #fff;
    position: absolute;
    transition: all 0.2s ease;
}

.backButton:hover {
    background: #fff;
    color: #000;
}

.product {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    justify-content: space-between;
    padding: 25px;
    border-bottom: 1px solid #a8a8a8;
    border-right: 1px solid #a8a8a8;
    width: 20%;
}

.product .picture {
    margin: auto auto;
    max-height: 250px;
}

.product .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product h2 {
    font-size: 16px;
    margin-bottom: 10px;
    word-wrap: break-word;
    width: 100%;
    overflow: hidden;
    color: #000;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; 
}

.product p {
    font-size: 20px;
    color: #000;
}

.filter-sort .product-createButton {
    top: 0;
    left: -132px;
    padding: 8px 20px;
    border: 1px solid #fff;
    color: #fff;
    position: absolute;
    z-index: 3;
    transition: all 0.2s ease;
}

.product-createButton:hover {
    background: #7e6a54;
}

.review-block {
    display: block;
    padding: 20px 50px 50px 20px;
    background: #1f2937;
    border: 1px solid #374151;
    border-radius: 15px;
    margin-bottom: 50px;
}

.review__user-rating {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 20px;
}

.review__user-img {
    display: block;
    width: 20px;
    height: 20px;
    background: url(../img/default.png);
}

.review__comment {
    padding-left: 30px;
}

.createReviewsForm {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1f2937;
    border-top: 1px solid #374151;
    column-gap: 10px;
    position: fixed;
    width: 100%;
    padding: 10px;
    bottom: 0;
    left: 0;
}

.review__stars {
    display: flex;
    align-items: center;
}

.review__stars .star {
    display: block;
    position: unset;
    transform: unset;
}

.star {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    background: url(../img/starOff.svg) no-repeat;
    background-size: 100%;
}

.createReviewsForm textarea {
    background: #111827;
    border: 1px solid #374151;
    color: #fff;
    resize: horizontal;
}

.range-star {
    position: relative;
}

.range-star input[type="range"] {
    opacity: 0;
    position: relative;
    z-index: 2;
}

.createReviewsForm .active,
.review-block .active {
    background: url(../img/starOn.svg) no-repeat;
    background-size: 100%;
}

.createReviewsForm input[type="submit"] {
    width: 20px;
    height: 20px;
    border: none;
    background: url(../img/sendButton.svg);
    background-size: cover;
}

.createReviewsForm input[type="submit"]:hover {
    cursor: pointer;
}

.review__form input[type="submit"],
.orderTable input {
    color: #000;
    width: 100%;
}